<table
  class="max-w-full mt-2 mb-2 phone:text-sm else:text-lg"
>
  <thead>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wen</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let week of calendar"
    >
      <td
        *ngFor="let day of week.days"
        [class.disabled]="day.disabled"
        [class.selected]="day.selected"
        [class.active]="day.active"
        class="text-center relative items-center"
        (click)="change(day.value)"
      >
        <span
          *ngIf="day.tasks.length"
          class="absolute font-bold bookmark left-0 top-0"
        >&#32;</span>
        <span>{{ day.value | customDate: 'DD'}}</span>
      </td>
    </tr>
  </tbody>
</table>
