table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  thead {
    background-color: rgba(44, 57, 82, 0.5);
    color: #f8f8f8;
  }

  tr, td {
    border: 1px solid #000;
    padding: 0.5rem 1rem;
  }

  tbody {
    tr {
      background-color: rgba(44, 57, 82, 0.38);
      color: #f8f8f8;
    }
  }



  td.selected {
    color: #0066ff;
    background-color: rgba(44, 57, 82, 0.5);
  }

  td {
    &.disabled {
      opacity: .5;
    }

    &:hover:not(.disabled){
      background: rgba(44, 57, 82, 0.22);
      cursor: pointer;
    }

    &:hover:not(.disabled).selected {
      background: rgba(44, 57, 82, 0.5);
      cursor: pointer;
    }

    &.selected {
      color: #f8f8f8;
    }

    &.active {
      color: #f8f8f8;
      background: rgb(239, 125, 85);
      font-weight: bold;
    }

    &.selected.active {
      color: #f8f8f8;
    }
  }

  .bookmark {
    background-image: url("../../assets/bookmark.png");
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 400px)  {
    .bookmark {
      background-size: 1rem;
      width: 3vw;
      height: 2vh;
    }
  }

  @media only screen and (min-width: 401px)  {
    .bookmark {
      background-size: 1.5rem;
      width: 5vw;
      height: 6vh;
    }
  }

}


