<section class="w-full">
  <header class="ml-1 mb-2">
    Day: <strong>{{ dateService.date | async | customDate: 'DD.MM.YYYY' }}</strong>
    <hr/>
  </header>

  <main>
    <ul *ngIf="tasks.length; else noTasks"
      class="overflow-y-scroll max-h-44"
    >
      <li
        *ngFor="let task of tasks;"
        class="w-full flex justify-between mb-2"
      >
        <span class="ml-1">
          <strong>&middot;</strong>
          {{ task.title }}
        </span>
        <button
          type="Submit"
          class="done px-4 py-2 rounded text-white right-0"
          (click)="remove(task)"
        >
          &#10003;
        </button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">no tasks yet...</p>
    </ng-template>
  </main>

  <footer>
    <form
      class="mb-2 mt-2 flex justify-between h-[40px]"
      (ngSubmit)="submit()"
      [formGroup]="form"
    >
      <input
        type="text"
        class="border rounded w-full mr-2 px-2"
        placeholder="..."
        formControlName="title"
      >

      <button
        type="Submit"
        class="px-2 rounded text-white bg-blue-600"
        [class.disabled]="form.invalid"
      >Create</button>
    </form>
  </footer>

</section>
