a:link {
  color: #497DDD;
  border-bottom: 1px dashed;
}
a:visited {
  color: #EF7D55;
}
a:hover {
  color: #ec4008;
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD;
  border-bottom: 1px dashed;
}
